.gh-td,
.vi-filmstp,
.hl-loyalty,
.vi-feedback,
.b-visualnav__img,
.vi-VR-btnWdth-XL,
.s-item .NEGATIVE,
.vi-swc-embg-dollar,
.b-event__imgwrapper,
.social-widget .sw a,
.vi-ds3cont-box-marpad,
.vi-swc-top-rated-plus,
.mfe-lex .mfe-hotness-badge,
.gh-sch-prom#gh .btn.btn-ter,
.srp-controls--selected-value,
.gh-sch-prom#gh .btn.btn-prim,
.srp-controls__control--legacy,
.s-controls-events .srp-controls__control,
.x-buybox-cta .vim.x-watch-action.watch-redesign,
.x-coupon .x-coupon__status-area .x-coupon__status,
.title-banner .title-banner__layer__info .x-coupon,
.x-survey-plugin:not(.x-survey-plugin__like--icon),
.vim.x-shop-with-confidence .EBAY_MONEY_BACK_GUARANTEE_DOLLAR,
.ux-image-grid-container.filmstrip.filmstrip-x .ux-image-grid,
.vi-bb-flex #CenterPanelDF .watch-redesign.new-brdr-btns .btn-ter,
.vim.x-atc-action a.ux-call-to-action:not([class*="--secondary"]),
.vim.x-atc-action button.ux-call-to-action:not([class*="--secondary"]), 
.title-banner--bgcolorimg .title-banner__right .title-banner__right-image,
.vim.d-stores-info-categories .d-stores-info-categories__container__action,
.vlp-merch-item-card-container .vlp-merch-item-tile .vlp-merch-image-frame,
.vlp-merch-item-card-container .vlp-merch-item-tile .vlp-merch-item-title-dweb,
.recs-module .merch-item-card-container .merch-item-tile .merch-image-wrap-dweb,
.recs-module .merch-item-list-container .merch-below-hero .merch-image-wrap-dweb,
.vim.d-payments-minview .ux-layout-section-module .ux-labels-values__values.col-9,
.vlp-merch-item-card-container .vlp-merch-item-tile .vlp-merch-item-info .vlp-merch-price {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

a[id],
a[data-track],
a[aria-describedby] {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.srp-grid .s-item a[data-track] {
  filter: unset !important;
  -webkit-filter: unset !important;
}

#gh-la,
#gh-ug a, 
#gh-cat-box,
#binBtn_btn,
#gh-eb-u-o a,
#linkMainImg,
#gh-eb a:hover, 
#gh-topl #gh-ti,
#gh-topl a:hover,
#binBtn_btn_submit {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.pagecontainer__leftnav .b-module {
  background: #ededed !important;
}

.pagecontainer__leftnav .b-speciallinks .b-textlink,
.pagecontainer__leftnav .b-categorynavigations .b-textlink {
  color: #bbbbbb !important;
}

#gh-ug a, 
#gh-eb-u-o a,
#gh-eb a:hover, 
#gh-topl a:hover {
  color: #3086f7 !important;
}

.vlp-merch-item-card-container .vlp-merch-add-to-watchlist-btn button {
  background: #555 !important;
}

.x-refine-more button,
.skin-large .b-breadcrumb ol li a,
.x-refine__multi-select a.x-refine__multi-select-link,
.x-refine__single-select a.disabled, .x-refine__single-select a.x-refine__single-select-link,
.x-refine__left__nav .x-refine__main__list > .srp-refine__category__list .srp-refine__category__item .srp-refine__category__item a,
.x-refine__left__nav .x-refine__main__list > .srp-refine__category__list .srp-refine__category__item .srp-refine__category__item button span {
  color: #838383 !important;
}

a.fake-btn--secondary[href]:hover,
a.fake-btn--secondary[href]:focus,
button.btn--secondary:not([disabled],[aria-disabled="true"]):hover, 
button.btn--secondary:not([disabled],[aria-disabled="true"]):focus {
  background-color: #c3c3c3 !important;
}

.ux-image-carousel-buttons button.icon-btn,
.recs-module .merch-item-card-container .merch-card-nib button {
  background: #161616 !important;
}
